@keyframes bounce-smooth {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-18px);
  }
  40% {
    transform: translateY(-28px);
  }
  60% {
    transform: translateY(-18px);
  }
  80% {
    transform: translateY(-8px);
  }
}
.animate-bounce-smooth {
  animation: bounce-smooth 1.8s infinite cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

@keyframes float-smooth {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}
.animate-float-smooth {
  animation: float-smooth 2.4s ease-in-out infinite;
}
